*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.blackNav{
  background : black;
  width : 100%;
  display : flex;
  color : white;
  padding : 20px;
}

.blackNav >h4{
  color: #fff;
  text-align: left;
}
